.lg-wrapper {
    position: absolute;
    top: 5%;
    right: 2%;
    height: 20px;
    animation: showUp forwards 3s;
}

.lg-input {
    display: block;
    border-radius: 5px; 
    margin: 2px;
}

.lg-btn {
    background-color: #6F103A;
    border-radius: 5px; 
    width: 50%;
    color: white;
}

.lg-btn:hover{
    cursor: pointer;
}

.lg-btn-signup {
    background-color: #6F103A;
    border-radius: 5px; 
    width: 100%;
    color: white;
}

.lg-btn-signup:hover{
    cursor: pointer;
}

.lg-signup-input{
    border-radius: 5px;
    margin: 5px;
}

.lg-signup-btn:hover {
    cursor: pointer;
}